/* animação fade - css transition */
.fade-enter-from, .fade-leave-to {
    opacity: 0;
}
  
.fade-enter-active {
    transition: opacity 2s;
}

.fade-enter-to, .fade-leave-from {
    opacity: 1;
}

.fade-leave-active {
    transition: opacity 0.5s;
}

/* animação slide - css transition */
.slide-enter-from {
    opacity: 0;
    transform: translateX(-150px);
}

.slide-enter-active, .slide-leave-active {
    transition: all 1s;
}

.slide-enter-to, .slide-leave-from {
    opacity: 1;
    transform: translateX(0px);
}

.slide-leave-to {
    opacity: 0;
    transform: translateX(150px);
}

/* animação zoom - css transition */
.zoom-enter-from, .zoom-leave-to {
    transform: scale(0);
}

.zoom-enter-active, .zoom-leave-active {
    transition: transform 1s;
}

.zoom-enter-to, .zoom-leave-from {
    transform: scale(1);
}

/* animação flip - css transition */
/*
.flip-enter-from {
    transform: rotateY(-80deg);
}

.flip-enter-active, .flip-leave-active {
    transition: transform 2s;
}

.flip-enter-to, .flip-leave-from {
    transform: rotateY(0deg);
}

.flip-leave-to {
    transform: rotateY(80deg);
}
*/

/* animação flip - css animation */
.flip-enter-active {
    animation: flip 2s;
}

.flip-leave-active {
    animation: flip 2s reverse;
}

@keyframes flip {
    from {
        transform: rotateY(-80deg);
    }
    
    to {
        transform: rotateY(0deg);
    }
}

/* animação flip - css animation - progressão customizada */
.flipCustomizado-enter-active {
    animation: flipCustomizado 2s;
}

.flipCustomizado-leave-active {
    animation: flipCustomizado 2s reverse;
}

@keyframes flipCustomizado {
    0% {
        transform: rotateY(-80deg);
    }

    25% {
        transform: rotateY(-75deg);
    }

    50% {
        transform: rotateY(-25deg);
    }

    100% {
        transform: rotateY(0deg);
    }
}

/* combinando transition e animation - efeito de pulo */
.pulo-enter-from {
    opacity: 0;
}

.pulo-enter-active {
    animation: pulo 2s;
    transition: 1.5s;
}

.pulo-enter-to {
    opacity: 1;
}

.pulo-leave-from {
    opacity: 1;
}

.pulo-leave-active {
    transition: opacity 1s;
}

.pulo-leave-to {
    opacity: 0;
}

@keyframes pulo {
    0% { transform: scale(1,1) translateY(0); }
    10% { transform: scale(1.1,.9) translateY(0); }
    30% { transform: scale(.9,1.1) translateY(-30px); }
    50% { transform: scale(1.05, .95) translateY(0); }
    57% { transform: scale(1,1) translateY(-8px); }
    64% { transform: scale(1,1) translateY(0); }
    100% { transform: scale(1,1) translateY(0); }
}

/* slide de cima para baixo utilizando nomes de classes customizados */
.entrada-estado-inicial {
    opacity: 0;
    transform: translateY(-150px);
}

.entrada-estado-final, .saida-estado-inicial {
    opacity: 1;
    transform: translateY(0px);
}

.transicao {
    transition: all 2s;
}

.saida-estado-final {
    opacity: 0;
    transform: translateY(50px);
}

/* transition-group | lista que terá um efeito de slide */
.lista-enter-from {
    opacity: 0;
    transform: translateX(-150px);
}

.lista-enter-active {
    transition: all 1s;
}

.lista-leave-active {
    transition: all 1s;
    position: absolute;
}

.lista-enter-to, .lista-leave-from {
    opacity: 1;
    transform: translateX(0px);
}

.lista-leave-to {
    opacity: 0;
    transform: translateX(150px);
}

.lista-move {
    transition: all 1s;
}

/* transition-group | filtro de ordenação */
.ordenacao-move {
    transition: all 2s;
}

